@model WebApplication1.Models.FastFoodsViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>
<body>
    <h1 style="color:cadetblue">FastFoods</h1>

    <div class="fastfoods">
        @foreach (var item in Model.FastFoods)
        {
            <div>
                <h3>Id:@item.Id</h3>
                <h3>Name:@item.Name</h3>
                <h3>Price:@item.Price</h3>
                <h3>Calory:@item.Calory</h3>
            </div>
        }
    </div>



</body>
</html>